# cmake labs
/lab 1/cmake-build-debug
/lab 2/cmake-build-debug
/lab 3/cmake-build-debug
/lab 4/cmake-build-debug

# clion
.idea

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
